In [1]:
# ENCSR139ATR annoatation map

In [2]:
%run tsv_files_utils_from_analysis.ipynb
# !pip install biopython

In [3]:
import pandas as pd
# from Bio.Seq import Seq

## Cell type

In [4]:
df_cell_types = pd.read_csv("./ENCSR139ATR_cell_types.tsv", delimiter='\t',skiprows=5,header=0)
# read_tsv_file("./ENCSR139ATR_cell_types.tsv")

In [5]:
df_cell_types.head(2)

,cell_id,cell_type_id,cell_type_name,membership_score
0,ENCSR398PIW-1_AAACGAAAGCCTCATA,Hepatocytes,Hepatocytes,NaN
1,ENCSR398PIW-1_AAACGAAAGCTCCATA,Fibroblasts,Fibroblasts,NaN

In [6]:
# subset:
# Filter rows with "ENCSR139ATR" in cell_id_original
df_cell_types = df_cell_types[df_cell_types['cell_id'].str.contains("ENCSR139ATR")]
df_cell_types.head(2)

,cell_id,cell_type_id,cell_type_name,membership_score
18829,ENCSR369UFT-1_ENCSR139ATR-1_AAACAGCCAACACCTA,Hepatocytes,Hepatocytes,NaN
18830,ENCSR369UFT-1_ENCSR139ATR-1_AAACAGCCAAGCGATG,Hepatocytes,Hepatocytes,NaN

In [7]:
# create cell_id 
# Renaming the column
new_column_name = 'cell_id_original'
df_cell_types.rename(columns={'cell_id': new_column_name}, inplace=True)
df_cell_types.head(2)

,cell_id_original,cell_type_id,cell_type_name,membership_score
18829,ENCSR369UFT-1_ENCSR139ATR-1_AAACAGCCAACACCTA,Hepatocytes,Hepatocytes,NaN
18830,ENCSR369UFT-1_ENCSR139ATR-1_AAACAGCCAAGCGATG,Hepatocytes,Hepatocytes,NaN

## Metadata

In [8]:
df_metadata = pd.read_csv("./ENCODE_samples_metadata.tsv", delimiter='\t',skip_blank_lines=True,header=0,comment="#")

In [9]:
df_metadata.head(2)

,cell_id,rna_dataset,rna_barcode,atac_dataset,atac_barcode,rna_umi_count,atac_fragment_count,rna_frac_mito,rna_frac_ribo,atac_tss_enrichment,passed_filtering
0,ENCSR398PIW-1_AAACCCAAGCTGAAAT,ENCSR398PIW,AAACCCAAGCTGAAAT,NaN,NaN,595,NaN,0.013445,0.038655,NaN,0
1,ENCSR398PIW-1_AAACCCAAGTCTACCA,ENCSR398PIW,AAACCCAAGTCTACCA,NaN,NaN,666,NaN,0.004505,0.022523,NaN,0

In [10]:
# subset the ENCSR139ATR_df_metadata

ENCSR139ATR_df_metadata = df_metadata[df_metadata['atac_dataset']=='ENCSR139ATR']
ENCSR139ATR_df_metadata.head(2)

,cell_id,rna_dataset,rna_barcode,atac_dataset,atac_barcode,rna_umi_count,atac_fragment_count,rna_frac_mito,rna_frac_ribo,atac_tss_enrichment,passed_filtering
31955,ENCSR369UFT-1_ENCSR139ATR-1_AAACAGCCAACACCTA,ENCSR369UFT,AAACAGCCAACACCTA,ENCSR139ATR,TGAGGAAACCCGCTGT,11371,NaN,0.001407,0.004749,NaN,1
31956,ENCSR369UFT-1_ENCSR139ATR-1_AAACAGCCAAGCGATG,ENCSR369UFT,AAACAGCCAAGCGATG,ENCSR139ATR,GTCATAGACCCGCTGT,10459,NaN,0.001912,0.003824,NaN,1

In [11]:
# rename cell_id with cell_id_origin
# Renaming the column
new_column_name = 'cell_id_original'
ENCSR139ATR_df_metadata.rename(columns={'cell_id': new_column_name}, inplace=True)
ENCSR139ATR_df_metadata.head(2)

/var/folders/j6/2st107dn1vl18n57n7y_2v240000gn/T/ipykernel_99758/2172510747.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ENCSR139ATR_df_metadata.rename(columns={'cell_id': new_column_name}, inplace=True)

,cell_id_original,rna_dataset,rna_barcode,atac_dataset,atac_barcode,rna_umi_count,atac_fragment_count,rna_frac_mito,rna_frac_ribo,atac_tss_enrichment,passed_filtering
31955,ENCSR369UFT-1_ENCSR139ATR-1_AAACAGCCAACACCTA,ENCSR369UFT,AAACAGCCAACACCTA,ENCSR139ATR,TGAGGAAACCCGCTGT,11371,NaN,0.001407,0.004749,NaN,1
31956,ENCSR369UFT-1_ENCSR139ATR-1_AAACAGCCAAGCGATG,ENCSR369UFT,AAACAGCCAAGCGATG,ENCSR139ATR,GTCATAGACCCGCTGT,10459,NaN,0.001912,0.003824,NaN,1

In [12]:
# ENCSR139ATR_df_metadata['atac_barcode']

31955    TGAGGAAACCCGCTGT
31956    GTCATAGACCCGCTGT
31957    TTTACGCACCCGCTGT
31958                 NaN
31959                 NaN
               ...
51988    CGATTACTGAAGTACG
51989                 NaN
51990                 NaN
51991                 NaN
51992    CGTGCTGTGAAGTACG
Name: atac_barcode, Length: 20038, dtype: object

In [13]:
# # Function to compute reverse complement
# def reverse_complement_sequence(sequence):
#     if pd.notna(sequence):  # Check for NaN values
#         seq = Seq(sequence)
#         reverse_complement_seq = seq.reverse_complement()
#         return str(reverse_complement_seq)
#     else:
#         return None  # Return None for NaN values

In [14]:

# Apply the function to the DataFrame column
ENCSR139ATR_df_metadata['atac_barcode_reverse_Complement'] = ENCSR139ATR_df_metadata['atac_barcode'].apply(reverse_complement_sequence)

ENCSR139ATR_df_metadata.head(2)

/var/folders/j6/2st107dn1vl18n57n7y_2v240000gn/T/ipykernel_99758/882008676.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ENCSR139ATR_df_metadata['atac_barcode_reverse_Complement'] = ENCSR139ATR_df_metadata['atac_barcode'].apply(reverse_complement_sequence)

,cell_id_original,rna_dataset,rna_barcode,atac_dataset,atac_barcode,rna_umi_count,atac_fragment_count,rna_frac_mito,rna_frac_ribo,atac_tss_enrichment,passed_filtering,atac_barcode_reverse_Complement
31955,ENCSR369UFT-1_ENCSR139ATR-1_AAACAGCCAACACCTA,ENCSR369UFT,AAACAGCCAACACCTA,ENCSR139ATR,TGAGGAAACCCGCTGT,11371,NaN,0.001407,0.004749,NaN,1,ACAGCGGGTTTCCTCA
31956,ENCSR369UFT-1_ENCSR139ATR-1_AAACAGCCAAGCGATG,ENCSR369UFT,AAACAGCCAAGCGATG,ENCSR139ATR,GTCATAGACCCGCTGT,10459,NaN,0.001912,0.003824,NaN,1,ACAGCGGGTCTATGAC

In [17]:
# add cell_id with barcode and 
atac_dataset = "ENCSR618WVK"

# ENCSR139ATR_df_metadata['cell_id'] = ENCSR139ATR_df_metadata['atac_barcode_reverse_Complement'] + "_" + atac_dataset
# ENCSR139ATR_df_metadata['cell_id'] = ENCSR139ATR_df_metadata['atac_barcode'] + "_" + atac_dataset
ENCSR139ATR_df_metadata['cell_id'] = ENCSR139ATR_df_metadata['rna_barcode'] + "_" + atac_dataset

# rna_barcode

# reverse complement


ENCSR139ATR_df_metadata.head(2)

/var/folders/j6/2st107dn1vl18n57n7y_2v240000gn/T/ipykernel_99758/157927307.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ENCSR139ATR_df_metadata['cell_id'] = ENCSR139ATR_df_metadata['rna_barcode'] + "_" + atac_dataset

,cell_id_original,rna_dataset,rna_barcode,atac_dataset,atac_barcode,rna_umi_count,atac_fragment_count,rna_frac_mito,rna_frac_ribo,atac_tss_enrichment,passed_filtering,atac_barcode_reverse_Complement,cell_id
31955,ENCSR369UFT-1_ENCSR139ATR-1_AAACAGCCAACACCTA,ENCSR369UFT,AAACAGCCAACACCTA,ENCSR139ATR,TGAGGAAACCCGCTGT,11371,NaN,0.001407,0.004749,NaN,1,ACAGCGGGTTTCCTCA,AAACAGCCAACACCTA_ENCSR618WVK
31956,ENCSR369UFT-1_ENCSR139ATR-1_AAACAGCCAAGCGATG,ENCSR369UFT,AAACAGCCAAGCGATG,ENCSR139ATR,GTCATAGACCCGCTGT,10459,NaN,0.001912,0.003824,NaN,1,ACAGCGGGTCTATGAC,AAACAGCCAAGCGATG_ENCSR618WVK

In [18]:
# Merge the DataFrames based on cell_id
# Merge the DataFrames based on cell_id_original
ENCSR139ATR_df_metadata = ENCSR139ATR_df_metadata.merge(df_cell_types[['cell_id_original', 'cell_type_id']],
                                                        left_on='cell_id_original', right_on='cell_id_original',
                                                        how='left')
ENCSR139ATR_df_metadata.head(2)

,cell_id_original,rna_dataset,rna_barcode,atac_dataset,atac_barcode,rna_umi_count,atac_fragment_count,rna_frac_mito,rna_frac_ribo,atac_tss_enrichment,passed_filtering,atac_barcode_reverse_Complement,cell_id,cell_type_id
0,ENCSR369UFT-1_ENCSR139ATR-1_AAACAGCCAACACCTA,ENCSR369UFT,AAACAGCCAACACCTA,ENCSR139ATR,TGAGGAAACCCGCTGT,11371,NaN,0.001407,0.004749,NaN,1,ACAGCGGGTTTCCTCA,AAACAGCCAACACCTA_ENCSR618WVK,Hepatocytes
1,ENCSR369UFT-1_ENCSR139ATR-1_AAACAGCCAAGCGATG,ENCSR369UFT,AAACAGCCAAGCGATG,ENCSR139ATR,GTCATAGACCCGCTGT,10459,NaN,0.001912,0.003824,NaN,1,ACAGCGGGTCTATGAC,AAACAGCCAAGCGATG_ENCSR618WVK,Hepatocytes

In [19]:
# ENCSR139ATR_df_metadata[ENCSR139ATR_df_metadata['cell_id'] == 'ACTAACCAGATTGAGG_ENCSR618WVK']

In [20]:

# Save the DataFrame as a compressed TSV file
file_path = './labels/ENCSR618WVK/cell_types.tsv.gz'
ENCSR139ATR_df_metadata.to_csv(file_path, sep='\t', compression='gzip', index=False)